{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Home</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>House</th>
        <th>Character</th>
        <th>Battle</th>
      </tr>
    </thead>
    <tbody>
      {% for house in houses %}
        <tr>
          <td>
            <a href="{% url 'house' house.pk %}">{{ house.h_name }}</a>
            <small class="text-muted d-block">{{ house.house_slogan }}</small>
          </td>
          <td class="align-middle">0</td>
          <td class="align-middle">0</td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}